# Configuration provided by https://magehost.pro/

[mysqld]
back_log                        = 2000
# bind-address                    = ::
binlog_cache_size               = 16M    # p/conn
bulk_insert_buffer_size         = 64M
character-set-server            = utf8
concurrent_insert               = ALWAYS
connect_timeout                 = 60
# datadir                         = /home/mysql
# default-storage-engine          = innodb
binlog_expire_logs_seconds      = 86400
explicit_defaults_for_timestamp = 1
# innodb_ft_min_token_size        = 3
ft_min_word_len                 = 3
# general_log_file                = /data/ssd/mysql_log/general.log
group_concat_max_len            = 10240
innodb_autoinc_lock_mode        = 2
innodb_buffer_pool_size         = 2G     # Can be increased in conf.d/server.cnf
# innodb_concurrency_tickets      = 900
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_io_capacity              = 800
innodb_lock_wait_timeout        = 30
innodb_log_buffer_size          = 24M
innodb_open_files               = 60000
innodb_purge_threads            = 1
innodb_read_io_threads          = 16

innodb_temp_data_file_path      = ibtmp1:12M:autoextend:max:10G
innodb_write_io_threads         = 16
innodb_thread_concurrency       = 48
join_buffer_size                = 16M    # p/conn
key_buffer_size                 = 512M   # Can be increased in conf.d/server.cnf
# log_bin                         = /home/mysql_log/mysql-bin.log
log_bin_trust_function_creators = 1
# log_error                       = /home/mysql_log/error.log
log_timestamps                  = SYSTEM
long_query_time                 = 3
max_allowed_packet              = 128M
max_binlog_size                 = 100M
max_connect_errors              = 999999999
# Warning: PHP's pm.max_children must be 33% lower then MySQL's max_connections to leave room for other vhosts.
max_connections                 = 6000
max_heap_table_size             = 1G
max_seeks_for_key               = 100
myisam_max_sort_file_size       = 10G
myisam_sort_buffer_size         = 128M     # only used on REPAIR / ALTER table
myisam_recover_options          = BACKUP
# myisam_repair_threads           = 1
# pid_file                        = /run/mysqld/mysqld.pid
query_alloc_block_size          = 16384
query_prealloc_size             = 16384
# read_buffer_size                = 4M     # p/conn - default 128K
# read_rnd_buffer_size            = 16M    # p/conn - default 256K
# relay_log_info_file             = /home/mysql_log/mysql-relay.info
# relay_log                       = /home/mysql_log/mysql-relay-bin
binlog_ignore_db                = information_schema
binlog_ignore_db                = mysql
binlog_ignore_db                = performance_schema
binlog_ignore_db                = phpmyadmin
binlog_ignore_db                = sys
replicate_ignore_db             = information_schema
replicate_ignore_db             = mysql
replicate_ignore_db             = performance_schema
replicate_ignore_db             = phpmyadmin
replicate_ignore_db             = sys
replicate_wild_ignore_table     = %.%_tmp
replicate_wild_ignore_table     = %.log_%
replicate_wild_ignore_table     = %.aw_core_logger
replicate_wild_ignore_table     = %.report_viewed_%
replicate_wild_ignore_table     = %.m2epro_%_log
# skip-name-resolve               = 1 # Don't do this: user@localhost will give startup warning. Connecting to 127.0.0.1 will fail.
slow_query_log                  = 1
# slow_query_log_file             = /home/mysql_log/mysql-slow.log
# socket                          = /run/mysqld/mysqld.sock
sort_buffer_size                = 8M
sql_mode                        = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION   # removed ONLY_FULL_GROUP_BY + NO_ZERO_DATE + NO_ZERO_IN_DATE
ssl                             = 0
table_definition_cache          = 20000
table_open_cache                = 60000    # p/conn
# table_open_cache_instances      = 16
thread_cache_size               = 512
thread_stack                    = 1M
tmp_table_size                  = 2G
# tmpdir                          = /dev/shm/mysql
transaction_isolation           = READ-COMMITTED
# wait_timeout                    = 28800
default_authentication_plugin   = mysql_native_password
